# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in README.md.
default_stages: [pre-commit, pre-push]
exclude: ^(fixtures/)

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.5
    hooks:
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy
        exclude: tests/
        additional_dependencies:
          - types-requests

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # Use the ref you want to point at
    hooks:
      - id: check-ast
      - id: no-commit-to-branch
        args: [--branch, master, --branch, devel]
      - id: forbid-new-submodules
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: debug-statements
      - id: check-toml

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.5.0
    hooks:
      - id: setup-cfg-fmt
        args: [--include-version-classifiers]
