[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bleach = "~=4.1"
docutils = "*"
flake8 = "*"
freezegun = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pylint-pytest = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
tox = "~=3.24"
twine = "*"

[packages]
requests = "*"
requests-oauthlib = "*"
aiohttp = ">=3.7.4"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.pyatmo]
editable = true
path = "."
