[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bleach = "~=6.1"
docutils = "*"
time-machine = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"
ruff = "*"
tox = ">=3.25"
twine = "*"
no-implicit-optional = "*"

[packages]
requests = "*"
requests-oauthlib = "*"
aiohttp = ">3.8.1"
