[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
black = "*"
mypy = "*"
flake8 = "*"
pylint = "*"
docutils = "==0.14"
pytest-mock = "*"
pytest-cov = "*"
requests-mock = "*"
freezegun = "*"
isort = "*"
tox = "*"
pre-commit = "*"

[packages]
pyatmo = {editable = true,path = "."}
requests = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
